<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login Form</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/AllTheCSS.css">
<link href='https://fonts.googleapis.com/css?family=Fasthand' rel='stylesheet'>

</head>

<body id="backg">
<div class="login-form container">
    <form method="POST" class="container" enctype="multipart/form-data" >
    <div class="col">
        {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn-success ml-5 mr-0" value="Submit" />
    </div>
    </form>
</div>
</body>
</html>
