{% extends 'HomePage.html' %}
{% block content %}
    <div class="container">
    <div class="Jumbotron pos8">

        <h1>List of Events</h1>

        {% for event in event_list %}
            <p> {{ event.name }} on <span class="space">{{ event.start_date }}</span><span class="space">  {{ event.price }}rs</span></p>
        {% endfor %}
    <span><a  class="container" href="{% url 'committee:event_list_today' %}">Ongoing Events</a> </span>
    <span><a class="container" href="{% url 'committee:event_list_future' %}">Upcoming Events</a> </span>
    </div>
    </div>
    </div>
{% endblock %}
